<div class="row">
	<div class="col-md-12">
    <div class="header">
      task information
    </div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input [ngModelOptions]="{updateOn: 'blur'}" type="name" class="form-control" id="task-name" placeholder="" name="name" [(ngModel)]="task.name" #taskName (focus)="onTaskNameFocus(taskName)" (keyup.enter)="onNameEnter(taskName.value)">
    </div>
    <div class="form-group">
      <label for="comment">Description:</label>
      <textarea [ngModelOptions]="{updateOn: 'blur'}" class="form-control" rows="5" id="description"  [(ngModel)]="task.description" #taskDesc (focus)="onTaskDescFocus(taskDesc)" (keyup.enter)="onDescEnter(taskDesc.value)" ></textarea>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="priority"> Priority</label>
	</div>
</div>