<div class="row">
  <div class="col-md-4 task-list">
    <div class="header">
      project task list
    </div>
    <span class="project-name">
      ({{project.name}})
    </span>
    <div class="icons-bar">
      <button [disabled]="!taskList.length" class="btn btn-info btn-xs control-btn {{(allSelect)?'btn-warning':''}}" (click)="checkAllTask()">
        <span class="glyphicon glyphicon-ok"></span>
      </button>

      <button class="btn btn-info btn-xs control-btn add" (click)="addTask()">
        <span class="glyphicon glyphicon-plus"></span>
      </button>

      <button [disabled]="!taskList.length" class="btn btn-info btn-xs control-btn delete" (click)="deleteTask()">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
    <div class="task-list-area">
      <div [hidden]="!taskList.length" class="task-list">
        <div class="task {{(selectedTaskIndex == i)?'selected-task':''}}  {{(task.check)?'checked-task':''}}" *ngFor="let task of taskList;let i = index" (click)="selectTask(i,task)">
          <div class="row">
            <div class="col-md-1 col-sm-1">
              <button (click)="checkTask(task,$event)" class="btn btn-info btn-xs control-btn {{(task.check)?'btn-warning':''}}">
                <span class="glyphicon glyphicon-ok"></span>
              </button>
            </div>
            <div class="col-md-7 col-sm-9">
              <div class="task-name"> 
                <span class="task-name" title="{{task.name}}">{{task.name}}</span>
              </div>
              <div class="task-description" title="{{task.description}}"> {{task.description}}</div>
            </div>
          </div>
        </div>
      </div>
      <div [hidden]="taskList.length" class="task-empty-area">
        You don't have any tasks yet. Click '+' to add new.
      </div>
    </div>
  </div>
  <div *ngIf="selectedTaskIndex != -1" class="col-md-8 task-information">
    <task-information></task-information>
  </div>
  <div *ngIf="selectedTaskIndex==-1" class="col-md-8 task-information">
    Work Area
  </div>
</div>